.alert-dangerCus {
  color: #f2dede;
  background-color: #a94442;
  border-color: #ebccd1;
}

.panel-dangerCus > .panel-heading {
  color: #f2dede;
  background-color: #a94442;
  border-color: #ebccd1;
}

.form-inline {
	font-size:14px;
}

dt {
	color: black;
}

dd {
	color: gray;
}

.panel-primary {
	color:black;
}
.panel-default {
	color:black;
}

.well {
	color:black;
}

.inpCenter {
	margin-left: auto;
	margin-right: auto;
	width:230px;
}

#loader{
   visibility:hidden;
}

#f1_upload_process{
   visibility:hidden;
}

.office-card-outside {
	width: 200px;
	height: 300px;
	z-index:2;
	background-color: black;
	color:white;
	z-index: 1;
	position: relative;
	overflow: hidden;
	border: 3px solid black;
	border-radius: 3px;
}

.office-card-outside:hover {
	border-color: gray;
	z-index: 10;
}

.office-card-picture
{
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    background-origin:content-box;
    background-clip:content-box;
}

.office-card-term {
	position: inherit;
	background-color:black;
	width: 50px;
	height: 50px;
	float: left;
}

.office-card-name {
	position: absolute;
	color:inherit;
	background-color:black;
	width:100%;
	bottom:0px;
	padding-top:5px;
	padding-bottom: 5px;
}

.office-card-dates {
	position: relative;
	background-color:black;
	width: 50px;
	height: 50px;
	float: right;
}

.office-card-scope {
	position: relative;
}

.transparent {
	background-color:rgba(0,0,0,0.5);
}

.Federal {
	background-color: #0E53A7;
}

.State {
	background-color: #274E7D;
}

.County {
	background-color: #04346C;
}

.Municipal {
	background-color: #4284D3;
}

.Local {
	background-color: #6899D3;
}

.office-card-title {
	position: relative;
	background-color:#74ACEF;
	color:black;
	text-align:center;
	font-weight:bold;
	margin-top:0px;
	margin-bottom:0px;
	overflow:hidden;
	text-overflow:ellipsis; 
}

.office-card-title-text {
	align-items:center;
	margin-top:0px;
	margin-bottom:0px;	
	text-align:center;
	font-weight:bold;
	margin-top:0px;
	margin-bottom:0px
	overflow:hidden;
	text-overflow:ellipsis; 
	color:white;
	opacity: 1.0;
}

.office-card-term-text {
	text-align:center;
	margin-top:0px;
	margin-bottom:0px;	
	color:inherit;
	font-size:12px;
}

.office-card-image {
	position: relative;
	max-height:200px;
	max-width:180px;
	margin-left: 0 auto;
    margin-right: 0 auto;
}

.card-cell {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: : 0px;
	margin-right: 0px;
	margin-top: 20px;
}

body {
	background-color:#428bca;
}

/* HOVER STYLES */
div#pop-up {
  display: none;
  position: absolute;
  width: 280px;
  padding: 10px;
  background: #04346C;
  color: white;
  border: 1px solid #1a1a1a;
  border-radius: 10px;
  font-size: 90%;
  z-index: 10;
  opacity: 0.85;
  filter: alpha(opacity=85); /* For IE8 and earlier */
}

body{
	background: url(../img/Constitution_Pg1of4_AC.jpg);
	background-size: cover;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.lead {
	font-size: 18px;
	font-weight: 400;
}

.intro-header {
	padding-top: 60px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 50px;
	color: #f8f8f8;
	
	text-align: center;
}

.intro-message {
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
}

.intro-message > h1 {
	margin: 0;
	font-size: 5em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px) {
	.intro-message {
		padding-bottom: 15%;
	}

	.intro-message > h1 {
		font-size: 3em;
	}

	ul.intro-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.intro-social-buttons > li:last-child {
		margin-bottom: 0;
	}

	.intro-divider {
		width: 100%;
	}
}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}

.content-section-a {
	background-color: #f8f8f8;
	padding: 50px 0;
}

.content-section-b {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 50px 0;
}

.section-heading {
	margin-bottom: 30px;
}

.section-heading-spacer {
	border-top: 3px solid #e7e7e7;
	width: 200px;
	float: left;
}

.banner {
	padding: 100px 0;
	color: #f8f8f8;
	background: url(../img/banner-bg.jpg) no-repeat center center;
	background-size: cover;
}

.banner h2 {
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 3em;
}

.banner ul {
	margin-bottom: 0;
}

.banner-social-buttons {
	float: right;
	margin-top: 0;
}

@media (max-width: 1199px) {
	ul.banner-social-buttons {
		float: left;
		margin-top: 15px;
	}	
}

@media (max-width: 767px) {
	.banner h2 {
		margin: 0;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
		font-size: 3em;
	}

	ul.banner-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.banner-social-buttons > li:last-child {
		margin-bottom: 0;
	}	
}

footer {
	background-color: #f8f8f8;
	padding: 50px 0;
}

p.copyright {
	margin: 15px 0 0;
}
.displays {
	padding: 10px;
	border: 3px solid #ccc;
	background-color: #222;
	border-radius: 10px;
	box-shadow: 0 0 12px 4px #000 inset;
	color:white;
}
#bg{
    background:url('../img/BallotPath_logo-lg.png') no-repeat center center;
    background-size:60% auto;
    height:550px;
}

#addressform {
    display: inline-block !important;
    vertical-align: middle;
    margin-top:15%;
    color:black;
}

#go {
    width:200px;
}

#map_canvas {
    margin: 50px 0 0 0;
    height: 400px;
    width: 600px;
    border: 4px solid #2E3459;
    margin-left: auto;
    margin-right: auto;
}

#google_tos {
    color: black;
}

#google_ref {
    color: #74C2F2;
    text-outline: 2px 2px #000000;
}

